@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



header {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;

    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
}

.menubar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;

}

.menubar a:hover {
    border: 1px solid indianred;
    background: transparent
}

.register a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(112, 234, 255);
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.register a:hover {
    border: 1px solid indianred;
    background: transparent;
    color: #fff;
}

.h-text {
    position: absolute;
    top: 70%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;



}

.h-text span {
    letter-spacing: 5px;
    font-size: 1.4em;
}

.h-text h1 {
    font-size: 4.5em;
    font-weight: 900;


}

.h-text a {
    text-decoration: none;
    background-color: rgb(255, 88, 107);
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 5px;
    transition: 0.4s;
    font-weight: 700;

}

.h-text a:hover {
    border: 1px solid indianred;
    background: transparent;
    color: black;

}